<div
  [class.opacity-40]="disabled"
  [class.cursor-not-allowed]="disabled"
  class="!w-full h-full p-2 bg-white dark:hover:bg-zinc-800 border-zinc-200 dark:bg-zinc-900 rounded-md border dark:border-zinc-800  focus:border-blue-600"
>
  <label class="text-sm">{{ label }}</label>

  <textarea
    class="w-full bg-transparent border-none outline-none min-h-8"
    [rows]="rows"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInputChange($event)"
    [class.opacity-40]="disabled"
    [class.cursor-not-allowed]="disabled"
  ></textarea>


</div>

