<div
  class="relative flex flex-col w-full text-sm transition-all duration-200 group"
  [class.opacity-40]="disabled"
>
  <!-- Label flutuante -->
  <label
    class="absolute text-gray-500 transition-all duration-150 -translate-y-1/2 pointer-events-none dark:text-zinc-200 left-3 top-1/2 group-focus-within:opacity-70 group-focus-within:-translate-y-5 group-focus-within:text-xs peer-placeholder-shown:translate-y-0 peer-placeholder-shown:text-zinc-800 peer-placeholder-shown:text-sm"
    [class.-translate-y-5]="isFocused || value || type === 'date'"
    [class.text-xs]="isFocused || value || type === 'date'"
  >
    {{ label }}
  </label>

  <!-- Campo de input -->
  <input
    #inputEl
    class="min-h-[57px] peer w-full px-3 dark:hover:bg-zinc-800 pt-5 pb-2 border border-zinc-200 rounded-md outline-none text-gray-700 placeholder-transparent
            focus:border-blue-600 focus:ring-0 disabled:cursor-not-allowed dark:bg-zinc-900 dark:text-white dark:border-zinc-800"
    [type]="type"
    [placeholder]="placeholder || label"
    [disabled]="disabled"
    [value]="value"
    (focus)="onFocus()"
    (blur)="onBlur()"
    (input)="onInput($event)"
    [mask]="getMask()"
    [prefix]="getPrefix()"
    [decimalMarker]="','"
    [thousandSeparator]="'.'"
    [showMaskTyped]="false"
    [dropSpecialCharacters]="true"

  />



</div>
