button {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  transition: background 0.2s;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }

  mat-icon {
    font-size: 20px;
  }
}
