/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 150, 150, 0.4);
}
